html {
    background-color: #212121;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width:50rem;
    margin:auto;
    line-height:1.3;
    color: #ffffff;
}


/*Tekst na srodku*/

.rainbow-text {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-shadow: black 1px 1px 1px;
   	text-align: center;
 	text-decoration: underline;
}

.rainbow-text .block-line > span {
	display: inline-block;
}
 
/*NavBar*/

.nav {
    text-align: center;
    font-weight: bold;
}
.content > h1 {
    font-size: 20px;
}



/*Linki*/

a.ciekawostki {
    text-decoration: none;
    color: rgb(228, 119, 18);
}

a {
    text-decoration: none;
    color: white;
}

a.color0 {
   text-decoration: none;
   color: rgb(255, 133, 133);
}

a.color1 {
   text-decoration: none;
   color: rgb(253, 255, 143);
}

a.color2 {
   text-decoration: none;
   color: rgb(155, 250, 136);
}

a.color3 {
   text-decoration: none;
   color: rgb(130, 128, 255);
}

a.color4 {
   text-decoration: none;
   color: rgb(255, 138, 245);
}

/*Footer*/

.footer {
    text-align: center;
}

/*Mobilki*/

@media (min-device-width: 1000px) 
{

.rainbow-text {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-shadow: black 1px 1px 1px;
   	text-align: center;
 	text-decoration: underline;
}

}

@media (max-device-width: 1000px)
{

.rainbow-text {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-shadow: black 1px 1px 1px;
   	text-align: center;
 	text-decoration: underline;
}
